.section-about {
  padding: 30px 30px 100px 30px;
}

.section-about .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.section-about p {
  font-size: clamp(28px, 17.33px + 3.33vw, 60px);
  line-height: 110%;
}
