.section-featured {
  padding-bottom: clamp(16px, -5.33px + 6.67vw, 80px);
  color: var(--color-secondary);
  background-color: #000;
}

.section-featured .container {
  position: relative;
  display: flex;
}

.section-featured img {
  width: 60%;
  margin: 0 auto;
}

.section-featured-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-featured-title {
  position: relative;
  width: max-content;
  -webkit-text-stroke: 2px #000;
  line-height: calc(clamp(54px, 22px + 10vw, 150px) * 0.7);
  font-size: clamp(54px, 22px + 10vw, 150px);
}

.section-featured-wrapper p {
  font-size: clamp(18px, 14px + 1.25vw, 30px);
}

.section-featured-title::before {
  position: absolute;
  content: "New";
  top: 0;
  left: 0;
  transform: translateY(-125%);
  font-size: clamp(18px, 14px + 1.25vw, 30px);
  line-height: 1;
  -webkit-text-stroke: 0px #000;
  padding: 7.8px 26px;
  border-radius: 50%;
  border: 2px solid var(--color-secondary);
}

/* Adaptive */

@media (max-width: 800px) {
  .section-featured .container {
    flex-direction: column;
    align-items: center;
  }
  .section-featured-wrapper {
    position: static;
    transform: translateX(0);
  }
}
