.section-flavors {
  padding: 60px 0;
  background-color: var(--color-accent-secondary);
}

.section-flavors h2 {
  color: var(--color-accent);
}

.section-flavors h2,
.section-flavors h3 {
  line-height: 80%;
  font-size: clamp(54px, 22px + 10vw, 150px);
}
