.footer {
  background-color: var(--color-accent-secondary);
}

.text-content {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 130px;
}

.footer-nav,
.contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-nav-item,
.contacts p {
  font-size: clamp(16px, 13.33px + 0.83vw, 24px);
  color: var(--color-primary);
}

.wordmark-and-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 30px 20px;
}

.wordmark-and-right p {
  font-size: 14px;
}

.footer-logo {
  width: 50%;
}

.footer-border {
  width: 100%;
}

/* Adaptive */

@media (max-width: 1024px) {
  .text-content {
    padding: 30px 0;
    margin-bottom: 65px;
  }
}

@media (max-width: 768px) {
  .text-content {
    margin-bottom: 32px;
  }
}

@media (max-width: 550px) {
  .text-content {
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
  }
  .footer-logo {
    margin: 0 auto;
  }
  .footer-nav,
  .contacts,
  .wordmark-and-right p {
    text-align: center;
  }
}
