.section-founder {
  background-color: var(--color-accent-secondary);
}

.section-founder-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "content image";
}

.section-founder-content-box {
  grid-area: content;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 40px;
}

.content-box-title {
}

.content-box-table {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0 16px;
}

.content-box-table p:nth-child(odd) {
  font-family: var(--font-secondary);
  font-size: clamp(10px, 8.18px + 0.57vw, 14px);
  font-weight: 700;
  padding: auto 16px auto 0;
}

.content-box-table p:nth-child(even) {
  font-size: clamp(16px, 9.64px + 1.99vw, 30px);
  line-height: 110%;
  padding: 16px 10px 10px 0px;
  border-bottom: 1px solid var(--color-primary);
}

.section-founder-image-box {
  display: flex;
  align-items: flex-end;
  background: url("../../images/barman.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  height: 100%;
}

.image-box-wrapper {
  margin: 16px;
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.8);
}

.image-box-wrapper h2 {
  text-align: center;
  color: var(--color-secondary);
  font-size: clamp(54px, 22px + 10vw, 150px);
}

.image-box-wrapper img {
  width: 100%;
  filter: invert(100%);
}

/* Adaptive */

@media (max-width: 1024px) {
  .section-founder-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "image" "content";
  }
  .section-founder-image-box {
    height: clamp(360px, 273.64px + 26.99vw, 550px);
  }
}
