.header {
  padding: 20px 30px 0 30px;
}

.header .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  margin-bottom: 30px;
}

.header-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
}

.header-title {
  margin-top: 32px;
  font-size: 30px;
  letter-spacing: 1%;
  line-height: 130%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5px solid var(--color-primary);
}

.header-nav-item {
  padding: 0.5rem;
  font-size: 26px;
  line-height: 139%;
  letter-spacing: -2%;
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}

.header-border {
  width: 100%;
}

.header-nav-item .active {
  color: var(--color-accent);
}

/* Pseudo-classes and pseudo-elements */

.header-nav-item:hover,
.header-nav-item:focus {
  color: var(--color-accent-secondary);
}

/* Adaptive */

@media (max-width: 800px) {
}
