/* Fonts */

@import "../fonts/Staatliches/Staatliches.css";
@import "../fonts/Geist/Geist.css";
@import "../fonts/Jaro/Jaro.css";

/* Main */

@import "../styles/base/reset.css";
@import "../styles/base/base.css";

/* Elements */
@import "./elements/button.css";

/* Sections */
@import "./sections/header.css";
@import "./sections/intro.css";
