.button {
  display: inline-block;
  padding: 7.8px 26px;
  font-size: 26px;
  line-height: 139%;
  letter-spacing: -2%;
  font-family: var(--font-accent);
  border-radius: 50%;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.button.accent {
  color: var(--color-accent-secondary);
  background-color: var(--color-primary);
}

.button.primary {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

/* Pseudo-classes and pseudo-elements */

.button:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 8px;
}

.button.accent:hover,
.button.accent:focus {
  background-color: var(--color-accent);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--color-accent-secondary);
}
