.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--color-primary);
  width: max-content;
  max-width: clamp(180px, 133.33px + 14.58vw, 320px);
  transition: transform 0.15s ease-in-out;
}

.product-card h3 {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 2;
  color: var(--color-secondary);
  font-size: clamp(20px, 14.67px + 1.67vw, 36px);
}

.product-card img {
  border-radius: 0.5rem;
}

.product-card p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
}

.product-card a {
  width: max-content;
  font-size: 28px;
  color: var(--color-accent);
  transition: color 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.025);
}

/* Pseudo-classes and pseudo-elements */

.product-card a:hover {
  color: var(--color-accent-secondary);
}

/* Adaptive */

@media (max-width: 545px) {
  .product-card {
    max-width: 100%;
  }

  .product-card h3 {
    font-size: 36px;
  }
}
